# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production/Build
/dist
/build
docs/index.html
*.bundle.*yaml

# Temporary files
*.tmp
*.log
*.swp
*.swo
*~
.DS_Store
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml
